body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: #878787;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 0;
}

ul{
  list-style: none;
  padding: 0;
  line-height: 19px;
}

li {
  color: #878787;
  font-size: 16px;
  text-transform: capitalize;
}

.forecast-day {
  align-items: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  margin: 0 auto;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  padding: 15px; 
}

.weather-temperature {
  padding:0px;
}
.temperature {
  color: #000;
  font-size: 48px;
  font-weight: 400;
  position: relative;
  top : 12px;
}
.units {
  position: relative;
  bottom: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align:center;
  color:#000;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperature {
  font-size: 14px;
}

.temp-min {
  opacity : 0.5;
}